.category-content{
    position: absolute;
    top: 0;
    left: 210px;
    width: 750px;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid green;
}

.contents{
    font-family: '冬青黑体简体中文','Hiragino Sans GB','Tahama','Microsoft YaHei';
}